<section class="tab {{tabs.mundane_resources.id}} {{tabs.mundane_resources.cssClass}} scrollable" id="mundane_resources"
    data-tab="{{tabs.mundane_resources.id}}" data-group="{{tabs.mundane_resources.group}}">
    <div class="resource-group-styled">
        <div class="grid grid-2col">
            <div class="form-group">
                <label for="money">{{localize "ARKHAM_HORROR.LABELS.Money"}}</label>
                <div class="flexrow money-controls-row">
                    <a class="clickable money-action" data-action="adjustMoney" data-mode="add" title="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Add'}}" aria-label="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Add'}}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <span class="fancy-input money-display" id="money">{{moneyDisplay}}</span>
                    <a class="clickable money-action" data-action="adjustMoney" data-mode="spend" title="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Spend'}}" aria-label="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Spend'}}">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                    <a class="clickable money-action" data-action="adjustMoney" data-mode="set" title="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Set'}}" aria-label="{{localize 'ARKHAM_HORROR.MONEY.Tooltips.Set'}}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label for="vehicle">{{localize "ARKHAM_HORROR.LABELS.Vehicle"}}</label>
                <input type="text" name="system.mundaneResources.vehicle" id="vehicle" class="fancy-input"
                    value="{{system.mundaneResources.vehicle}}" data-dtype="String">
            </div>
        </div>
        <div class="grid grid-2col">
            <div class="form-group">
                <label for="lodging">{{localize "ARKHAM_HORROR.LABELS.Lodging"}}</label>
                <input type="text" name="system.mundaneResources.lodging" id="lodging" class="fancy-input"
                    value="{{system.mundaneResources.lodging}}" data-dtype="String">
            </div>
            <div class="form-group">
                <label for="loadCapacity">{{localize "ARKHAM_HORROR.LABELS.LoadCapacity"}}</label>
                <input type="text" class="fancy-input" name="system.loadCapacity.current"
                    value="{{system.loadCapacity.current}}" {{#if isAutoLoadCapacityEnabled}}disabled{{/if}}> /
                <input type="text" class="fancy-input" name="system.loadCapacity.max" id="loadCapacity"
                    value="{{system.loadCapacity.max}}" data-dtype="String">
            </div>
        </div>
    </div>
    <div class="resource-group">
        <!-- Weapons -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.Weapons"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Skill"}}</div>
                <div class='item-prop damage-prop' title="{{localize "ARKHAM_HORROR.PROPS.Damage"}}">{{localize "ARKHAM_HORROR.PROPS.DamageShort"}}</div>
                <div class='item-prop injury-rating-prop' title="{{localize "ARKHAM_HORROR.PROPS.InjuryRating"}}">{{localize "ARKHAM_HORROR.PROPS.InjuryRatingShort"}}</div>
                <div class='item-prop range-prop'>{{localize "ARKHAM_HORROR.PROPS.Range"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Ammunition"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Item'}}' data-type='weapon'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each weapons as |item id|}}
            <li class='item ' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="weapon{{item._id}}">
                        <div class='item-image'>
                            <a class='rollable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}} - click to expand special rules' width='24'
                                    height='24' />
                            </a>
                        </div>
                        {{item.name}}
                    </div>
                    <div class='item-prop clickable' data-action="clickedRollWithWeapon" data-item-id="{{item._id}}">{{localize (concat "ARKHAM_HORROR.SKILL." item.system.skill)}} <i class="fa-solid fa-dice"></i></div>
                    <div class='item-prop damage-prop'>{{item.system.damage}}</div>
                    <div class='item-prop injury-rating-prop'>{{item.system.injuryRating}}</div>
                    <div class='item-prop range-prop'>
                        {{#if (eq item.system.range 0)}}Engaged{{else}}{{item.system.range}}{{/if}}
                    </div>
                    <div class='item-prop'><input type="text" value="{{item.system.ammunition.current}}"
                            data-item-stat="system.ammunition.current" class="item-editable-stat ammo_input"> /
                        {{item.system.ammunition.max}} <span class="weapon-reload-icon" data-item-id='{{item._id}}'
                            data-action="clickWeaponReload" title="{reload"><i
                                class="fa-solid fa-rotate clickable"></i></span></div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="weapon{{item._id}}">
                    <div>
                        <p><strong>{{localize "ARKHAM_HORROR.PROPS.Weight"}}:</strong> {{item.system.weight}}</p>
                        <strong>{{localize "ARKHAM_HORROR.PROPS.SpecialRules"}}:</strong>
                        {{{item.system.specialRules}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Protective Equipment -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.ProtectiveEquipment"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Costs"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Item'}}' data-type='protective_equipment'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each protectiveEquipments as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="protectiveEquipment{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{formatCurrency item.system.cost}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="protectiveEquipment{{item._id}}">
                    <p><strong>{{localize "ARKHAM_HORROR.PROPS.Weight"}}:</strong> {{item.system.weight}}</p>
                    <div class="grid grid-2col">
                        <div>
                            <strong>{{localize "ARKHAM_HORROR.PROPS.DefensiveBenefit"}}:</strong>
                            {{{item.system.defensiveBenefit}}}
                        </div>
                        <div>
                            <strong>{{localize "ARKHAM_HORROR.PROPS.SpecialRules"}}:</strong>
                            {{{item.system.specialRules}}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Useful Items -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.UsefulItems"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Costs"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Uses"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Useful Item'}}' data-type='useful_item'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each usefulItems as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="usefulItem{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{formatCurrency item.system.cost}}</div>
                    <div class="item-prop"><input type="text" value="{{item.system.uses.current}}"
                            data-item-stat="system.uses.current" class="item-editable-stat ammo_input"> /
                        {{item.system.uses.max}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="usefulItem{{item._id}}">
                    <div>
                        <p><strong>{{localize "ARKHAM_HORROR.PROPS.Weight"}}:</strong> {{item.system.weight}}</p>
                        <strong>{{localize "ARKHAM_HORROR.PROPS.SpecialRules"}}:</strong>
                        {{{item.system.specialRules}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="resource-group">
        <!-- Other Equipment -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.OtherEquipment"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Costs"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createOtherEquipment"
                        title='{{localize "DOCUMENT.Create" type=' Item'}}'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each otherEquipment as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="otherEquipment{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{#if item.system.costs}}{{item.system.costs}}{{else}}{{formatCurrency item.system.cost}}{{/if}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="otherEquipment{{item._id}}">
                    <div>
                        <strong>Description:</strong>
                        {{{item.system.description}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Favors -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.Favors"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Name'}}</div>
                <div class='item-prop'>XP</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=' Favor'}}' data-type='favor'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each favors as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent"
                        data-fc-id="usefulItem{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>{{item.system.xp}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=' Item'}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="usefulItem{{item._id}}">
                    <div class="grid grid-3col">
                        <div>
                            <strong>Benefit</strong>
                            {{{item.system.benefit}}}
                        </div>
                        <div>
                            <strong>Declining</strong>
                            {{{item.system.decliningText}}}
                        </div>
                        <div>
                            <strong>Losing</strong>
                            {{{item.system.losingText}}}
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</section>