<fieldset>
    <legend>{{localize "ARKHAM_HORROR.LABELS.PersonalityTrait"}}</legend>
    {{#if personalityTrait}}
        <div class="item-card">
            <h4 data-action="toggleFoldableContent" class="clickable"data-fc-id="personalityTrait{{personalityTrait._id}}">{{personalityTrait.name}}</h4>
            <div class="foldable-content" data-fc-id="personalityTrait{{personalityTrait._id}}">
            <p>{{{personalityTrait.system.description}}}</p>
            </div>
            <p><strong>{{localize "ARKHAM_HORROR.PERSONALITY.Positive"}}:</strong> {{personalityTrait.system.positive}}</p>
            <p><strong>{{localize "ARKHAM_HORROR.PERSONALITY.Negative"}}:</strong> {{personalityTrait.system.negative}}</p>
        </div>
    {{else}}
        <p>{{localize "ARKHAM_HORROR.PERSONALITY.NoneAssigned"}}</p>
    {{/if}}
</fieldset>