<section class="tab {{tabs.supernatural_resources.id}} {{tabs.supernatural_resources.cssClass}} scrollable"
    id="supernatural_resources" data-tab="{{tabs.supernatural_resources.id}}"
    data-group="{{tabs.supernatural_resources.group}}">
    <div class="resource-group">
        <!-- Spells -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.Spells"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize "ARKHAM_HORROR.PROPS.Name"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Skill"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Difficulty"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Range"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.spell")}}' data-type='spell'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each spells as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent" data-fc-id="spell{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}
                            {{#with (lookup item.flags "arkham-horror-rpg-fvtt") as |ah|}}
                                {{#if ah.tomeSourceName}}
                                    <small class="notes">({{ah.tomeSourceName}})</small>
                                {{/if}}
                            {{/with}}
                        </span>
                    </div>
                    <div class="item-prop clickable" data-action="clickedRollWithSpell" data-item-id="{{item.id}}"
                            data-skill-key="{{item.system.skill}}">{{localize (concat "ARKHAM_HORROR.SKILL."
                            item.system.skill)}} <i class="fa-solid fa-dice"></i>
                    </div>
                    <div class='item-prop'>
                        {{#if (eq item.system.difficulty 1)}}{{localize "ARKHAM_HORROR.DIFFICULTY.Normal"}}
                        {{else if (eq item.system.difficulty 2)}}{{localize "ARKHAM_HORROR.DIFFICULTY.Difficult"}}
                        {{else if (eq item.system.difficulty 3)}}{{localize "ARKHAM_HORROR.DIFFICULTY.VeryDifficult"}}
                        {{/if}}
                    </div>
                    <div class='item-prop'>{{item.system.range}}</div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.spell")}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.spell")}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="spell{{item._id}}">
                    <div>
                        {{{item.system.specialRules}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Tomes -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.Tomes"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize "ARKHAM_HORROR.PROPS.Name"}}</div>
                <div class='item-prop'>{{localize "ITEM.Tome.rarity"}}</div>
                <div class='item-prop'>{{localize "ITEM.Tome.understood"}}</div>
                <div class='item-prop'>{{localize "ITEM.Tome.attuned"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.tome")}}' data-type='tome'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each tomes as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent" data-fc-id="tome{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>
                        {{#if item.system.rarity.common}}
                        {{localize "ARKHAM_HORROR.RARITY.common"}}
                        {{/if}}
                        {{#if item.system.rarity.rare}}
                        {{localize "ARKHAM_HORROR.RARITY.rare"}}
                        {{/if}}
                        {{#if item.system.rarity.unique}}
                        {{localize "ARKHAM_HORROR.RARITY.unique"}}
                        {{/if}}
                        {{#if item.system.rarity.uncommon}}
                        {{localize "ARKHAM_HORROR.RARITY.uncommon"}}
                        {{/if}}
                    </div>
                    <div class='item-prop'>
                        {{#if item.system.understood}}
                        <i class="fa-solid fa-check"></i>
                        {{else}}
                        {{#if ../actor.isOwner}}
                        <a class="clickable" data-action="understandTomeFromList" data-item-id='{{item._id}}'
                            title='{{localize "ITEM.Tome.understandButton"}}'>
                            <i class="fa-solid fa-dice"></i>
                        </a>
                        {{else}}
                        <i class="fa-regular fa-circle"></i>
                        {{/if}}
                        {{/if}}
                    </div>
                    <div class='item-prop'>
                        {{#if item.system.attuned}}
                            <i class="fa-solid fa-star"></i>
                        {{else}}
                            {{#if item.system.understood}}
                                {{#if ../actor.isOwner}}
                                <a class="clickable" data-action="attuneTomeFromList" data-item-id='{{item._id}}'
                                    title='{{localize "ITEM.Tome.attuneButton"}}'>
                                    <i class="fa-solid fa-dice"></i>
                                </a>
                                {{else}}
                                <i class="fa-regular fa-star"></i>
                                {{/if}}
                            {{else}}
                                <i class="fa-regular fa-star"></i>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.tome")}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.tome")}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="tome{{item._id}}">
                    <p><strong>{{localize "ARKHAM_HORROR.PROPS.Weight"}}:</strong> {{item.system.weight}}</p>
                    <div>
                        {{{item.system.description}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="resource-group">
        <!-- Relics -->
        <h5 class="quick-label">{{localize "ARKHAM_HORROR.LABELS.Relics"}}</h5>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize "ARKHAM_HORROR.PROPS.Name"}}</div>
                <div class='item-prop'>{{localize "ARKHAM_HORROR.PROPS.Rarity"}}</div>
                <div class='item-controls'>
                    <a class='item-control item-create' data-action="createItem"
                        title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.relic")}}' data-type='relic'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            {{#each relics as |item id|}}
            <li class='item' data-item-id='{{item._id}}'>
                <div class="flexrow">
                    <div class='item-name clickable' data-action="toggleFoldableContent" data-fc-id="relic{{item._id}}">
                        <div class='item-image'>
                            <a class='clickable' data-roll-type='item'>
                                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <span>{{item.name}}</span>
                    </div>
                    <div class='item-prop'>
                        {{#if item.system.rarity.common}}
                        {{localize "ARKHAM_HORROR.RARITY.common"}}
                        {{/if}}
                        {{#if item.system.rarity.rare}}
                        {{localize "ARKHAM_HORROR.RARITY.rare"}}
                        {{/if}}
                        {{#if item.system.rarity.unique}}
                        {{localize "ARKHAM_HORROR.RARITY.unique"}}
                        {{/if}}
                        {{#if item.system.rarity.uncommon}}
                        {{localize "ARKHAM_HORROR.RARITY.uncommon"}}
                        {{/if}}
                    </div>
                    <div class='item-controls'>
                        <a class='item-control item-edit' data-action="editItem"
                            title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.relic")}}'>
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete' data-action="deleteItem"
                            title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.relic")}}'>
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                </div>
                <div class="foldable-content" data-fc-id="relic{{item._id}}">
                    <p><strong>{{localize "ARKHAM_HORROR.PROPS.Weight"}}:</strong> {{item.system.weight}}</p>
                    <div>
                        {{{item.system.description}}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</section>