<form class="roll-dialog-container scrollable">
  <div class="form-group">
    <label>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.RollType"}}</label>
    <select name="rollKind">
      <option value="injury" {{#if (eq rollKind "injury")}}selected{{/if}}>{{localize "TYPES.Item.injury"}}</option>
      <option value="trauma" {{#if (eq rollKind "trauma")}}selected{{/if}}>{{localize "TYPES.Item.trauma"}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.Mode"}}</label>
    <select name="rollMode">
      <option value="standard" {{#if (eq rollMode "standard")}}selected{{/if}}>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.Standard"}}</option>
      <option value="falling" {{#if (eq rollMode "falling")}}selected{{/if}}>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.Falling"}}</option>
    </select>
  </div>

  <div class="form-group" data-roll-mode="standard">
    <label>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.Die"}}</label>
    <select name="dieFaces">
      <option value="6" {{#if (eq dieFaces 6)}}selected{{/if}}>d6</option>
      <option value="3" {{#if (eq dieFaces 3)}}selected{{/if}}>d3</option>
    </select>
  </div>

  <div class="form-group" data-roll-mode="falling">
    <label>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.FallingHeightFt"}}</label>
    <input type="number" name="fallingHeightFt" value="{{fallingHeightFt}}" min="10" step="1" />
  </div>

  <div class="form-group">
    <label>{{localize "ARKHAM_HORROR.Dialog.InjuryTrauma.Modifier"}}</label>
    <input type="number" name="modifier" value="{{modifier}}" step="1" />
  </div>

  <input type="hidden" name="rollSource" value="{{rollSource}}" />

  <p class="arkham-horror-hint" data-role="formulaHint">{{formulaHint}}</p>

  <footer class="dialog-footer">
    <button type="button" class="roll-button" data-action="clickedRoll"><i class="fa-solid fa-dice"></i> {{localize "ARKHAM_HORROR.ACTIONS.Roll"}}</button>
  </footer>
</form>
