<section id="{{partId}}" class="tab {{tabs.abilities.cssClass}} scrollable" data-tab="{{tabs.abilities.id}}"
    data-group="{{tabs.abilities.group}}">
    <div class="tab-abilities container-card-with-border">
        <div class="form-group-rich-editor mt-10">
            <prose-mirror name="system.abilitiesDescription" button="true" editable="{{editable}}" toggled="false"
                value="{{system.abilitiesDescription}}">
                {{{abilitiesDescriptionHTML}}}
            </prose-mirror>
        </div>
    </div>
</section>