<div>
    <strong>{{label}}</strong>: {{actorName}}'s dice pool changed from {{oldDicePoolValue}} to {{newDicePoolValue}}.
    {{#if healedDamage}}
        (Healed {{healedDamage}} damage)
    {{/if}}
</div>