<div>
  {{#if (eq action "spend")}}
    <strong>{{localize "ARKHAM_HORROR.Chat.Insight.LabelSpent"}}:</strong> {{localize "ARKHAM_HORROR.Chat.Insight.Spent" actorName=actorName spent=spent oldRemaining=oldRemaining newRemaining=newRemaining limit=limit}}
  {{else}}
    <strong>{{localize "ARKHAM_HORROR.Chat.Insight.LabelRefreshed"}}:</strong> {{localize "ARKHAM_HORROR.Chat.Insight.Refreshed" actorName=actorName oldRemaining=oldRemaining newRemaining=newRemaining}}
  {{/if}}
</div>
