<section class="tab {{tabs.benefit.id}} {{tabs.benefit.cssClass}} scrollable" id="benefit"
    data-tab="{{tabs.benefit.id}}" data-group="{{tabs.benefit.group}}">
    <prose-mirror name="system.benefit" button="true" editable="{{editable}}" toggled="false"
            value="{{system.benefit}}">
            {{{benefitHTML}}}
        </prose-mirror>
</section>