<section class="tab {{tabs.declining.id}} {{tabs.declining.cssClass}} scrollable" id="declining"
    data-tab="{{tabs.declining.id}}" data-group="{{tabs.declining.group}}">
    <prose-mirror name="system.decliningText" button="true" editable="{{editable}}" toggled="false"
            value="{{system.decliningText}}">
            {{{decliningTextHTML}}}
        </prose-mirror>
</section>