<section class="tab {{tabs.defensiveBenefit.id}} {{tabs.defensiveBenefit.cssClass}} scrollable" id="defensiveBenefit"
    data-tab="{{tabs.defensiveBenefit.id}}" data-group="{{tabs.defensiveBenefit.group}}">
    <prose-mirror name="system.defensiveBenefit" button="true" editable="{{editable}}" toggled="false"
            value="{{system.defensiveBenefit}}">
            {{{defensiveBenefitHTML}}}
        </prose-mirror>
</section>