<section class="tab {{tabs.losing.id}} {{tabs.losing.cssClass}} scrollable" id="losing"
    data-tab="{{tabs.losing.id}}" data-group="{{tabs.losing.group}}">
    <prose-mirror name="system.losingText" button="true" editable="{{editable}}" toggled="false"
            value="{{system.losingText}}">
            {{{losingTextHTML}}}
        </prose-mirror>
</section>