<section class="tab {{tabs.specialRules.id}} {{tabs.specialRules.cssClass}} scrollable" id="specialRules"
    data-tab="{{tabs.specialRules.id}}" data-group="{{tabs.specialRules.group}}">
    <prose-mirror name="system.specialRules" button="true" editable="{{editable}}" toggled="false"
            value="{{system.specialRules}}">
            {{{specialRulesHTML}}}
        </prose-mirror>
</section>