<option value="agility" {{#if (eq skill "agility")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.agility"}}</option>
<option value="athletics" {{#if (eq skill "athletics")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.athletics"}}</option>
<option value="wits" {{#if (eq skill "wits")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.wits"}}</option>
<option value="presence" {{#if (eq skill "presence")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.presence"}}</option>
<option value="intuition" {{#if (eq skill "intuition")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.intuition"}}</option>
<option value="knowledge" {{#if (eq skill "knowledge")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.knowledge"}}</option>
<option value="resolve" {{#if (eq skill "resolve")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.resolve"}}</option>
<option value="meleeCombat" {{#if (eq skill "meleeCombat")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.meleeCombat"}}</option>
<option value="rangedCombat" {{#if (eq skill "rangedCombat")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.rangedCombat"}}</option>
<option value="lore" {{#if (eq skill "lore")}}selected{{/if}}>{{localize "ARKHAM_HORROR.SKILL.lore"}}</option>
