<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form"
    data-tab="{{tabs.form.id}}" data-group="{{tabs.form.group}}">
    <div class="resource-group-styled">
        <div class="form-group">
            <label for="skill">{{localize "ITEM.Weapon.skill"}}</label>
            <select id="skill" name="system.skill">
                {{> "systems/arkham-horror-rpg-fvtt/templates/shared/_skill_options.hbs" skill=system.skill}}
            </select>
        </div>
        <div class="form-group">
            <label for="difficulty">{{localize "ITEM.Spell.difficulty"}}</label>
            <select id="difficulty" name="system.difficulty">
                <option value="1" {{#if (eq system.difficulty 1)}}selected{{/if}}>Normal (1)</option>
                <option value="2" {{#if (eq system.difficulty 2)}}selected{{/if}}>Difficult (2)</option>
                <option value="3" {{#if (eq system.difficulty 3)}}selected{{/if}}>Very Difficult (3)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="range">{{localize "ITEM.Weapon.range"}}</label>
            <input type="number" id="range" name="system.range" value="{{system.range}}" min="0"/>
        </div>
    </div>
</section>