<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form" data-tab="{{tabs.form.id}}"
    data-group="{{tabs.form.group}}">
    <div class="resource-group-styled">
        <div class="form-group">
            <label for="weight">{{localize "ITEM.Weapon.weight"}}</label>
            <input type="number" id="weight" name="system.weight" value="{{system.weight}}" min="0"/>
        </div>
        <div class="form-group">
            <label for="rarity">{{localize "ITEM.Tome.rarity"}}</label>
            {{localize "ARKHAM_HORROR.RARITY.common"}}<input type="checkbox" id="rarity" name="system.rarity.common" {{#if system.rarity.common}}checked{{/if}} />
            {{localize "ARKHAM_HORROR.RARITY.uncommon"}}<input type="checkbox" id="rarity" name="system.rarity.uncommon" {{#if system.rarity.uncommon}}checked{{/if}} />
            {{localize "ARKHAM_HORROR.RARITY.rare"}}<input type="checkbox" id="rarity" name="system.rarity.rare" {{#if system.rarity.rare}}checked{{/if}} />
            {{localize "ARKHAM_HORROR.RARITY.unique"}}<input type="checkbox" id="rarity" name="system.rarity.unique" {{#if system.rarity.unique}}checked{{/if}} />
        </div>

        <div class="form-group">
            <label for="alternativeNames">{{localize "ITEM.Tome.alternativeNames"}}</label>
            <input type="text" id="alternativeNames" name="system.alternativeNames" value="{{system.alternativeNames}}" />
        </div>
    </div>
</section>